* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

body {
  transition: 0.5s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: transparent;
  overflow: hidden;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #212022;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #c8aa8c;
}


/* inicio y preloader */

.inicio {
  width: 100%;
  height: 100%;
}

#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #111;
  z-index: 999;
}

#loader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  font-family: "MADE SAONARA 2", sans-serif;
  letter-spacing: 4px;
}

@media screen and (max-width: 768px) {
  #loader h1 {
    font-size: 8vw;
  }
}

.reveal .parent {
  display: block;
  overflow: hidden;
}

.reveal .parent .child {
  display: block;
}

.parent .child span {
  display: inline-block;
}

#elem {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0;
  background-color: #6c8fa1;
  z-index: 999;
}

#elem2 {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0;
  bottom: 0;
  background-color: #89a5b3;
  z-index: 999;
}

/* seccion home */
/* header */

#home {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.header {
  background-color: transparent;
  height: 90px;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transform: translateY(0);
  transition: transform 0.7s ease-out;
  transition: height, 0.5s ease-out;
}

.header-hidden {
  transform: translateY(-100%);
}

.active {
  height: 60px;
  background-color: #f8f8f8;
}


.active2 {
  height: 60px;
  background-color: rgb(17, 17, 17);
}

.header .logo {
  flex-grow: 2;
  display: flex;
  margin: 10px 25px 0px 25px;
}

.header .logo span a {
  display: block;
  font-size: 5rem;
  font-family: "MADE SAONARA 2", sans-serif;
  font-weight: bolder;
  margin-top: -4px;
  text-decoration: none;
  color: black;
}

.active .logo span a {
  transform: scale(0.9);
}

.active2 .logo span a{
  color: #fff;
  transform: scale(0.9);
}

.header .logo span a:hover {
  color: #c8aa8c;
  cursor: pointer;
}

.header .logo h3 {
  display: flex;
  background-color: #f8f8f8;
  margin: 35px 0px 35px -15px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.active .logo h3 {
  font-weight: 600;
  transform: scale(0.9) translateX(-8px); 
  
}

.active2 .logo h3 {
  font-weight: 600;
  color: #fff;
  background-color: #000;
  transform: scale(0.9) translateX(-8px);
}

.header nav {
  flex-grow: 1;
}

.header nav ul {
  height: 124px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 10px 25px 0px 25px;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.06rem;
  margin-left: 19px;
  margin-right: 19px;
}

.active li{
  transform: scale(0.9);
}

.active2 li{
  transform: scale(0.9);
}

.header li:hover {
  transform: scale(1.1);
}

.header li a {
  color: black;
  text-decoration: none;
}

.active2 li a {
  color: white;

}

.header a:hover {
  color: #c8aa8c;
}

.active a:hover {
  color: #c8aa8c;
}


.menu-button {
  position: absolute;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 3rem;
  height: 3rem;
  border: 0;
  margin-left: 10px;
  background: transparent;
  gap: 0.45rem;
  cursor: pointer;
}

.menu-button > div{
  display: flex;
  background: #000;
  height: 2px;
  border-radius: 5px;
  transition: transform 0.5s;
  transform-origin: bottom;
  z-index: 1000;
}

.active2 .menu-button > div{
  background-color: #fff;
}

.menu-button > div:first-child{
  width: 80%;
}

.menu-button > div:last-child{
  width: 100%;
}

.menu-button:hover div:first-child{
  transform: translateY(5px);
  width: 100%;
}

.menu-button:hover div:last-child{
  transform: translateY(-5px);
}

.menu-button.clickeado{
  gap: 0;
}

.menu-button.clickeado div:first-child{
  background-color: #f8f8f8;
  transform: rotate(45deg);
  width: 100%;
 
}

.menu-button.clickeado div:last-child{
  background-color: #f8f8f8;
  transform: rotate(-45deg);
  width: 100%;

}


/* titulos principales */

.row-container {
  height: auto;
  margin: 0px 15px 10px 15px;
  padding-top: 200px;
}

.row {
  width: 100%;
}

.row h1 {
  font-size: 8.75rem;
  font-family: "MADE SAONARA 2", sans-serif;
  letter-spacing: 10px;
  font-weight: 500;
  margin-left: 15px;
  color: #000;
}

.row .color {
  color: #c8aa8c;
}

.row span {
  padding-left: 5px;
}

/* responsive header y titulos */

@media only screen and (max-width: 992px) {
  .row h1 {
    font-size: 7.75rem;
  }
}


@media only screen and (max-width: 796px){
  .row h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  #home {
    height: auto;
  }

  .header {
    height: 60px;
  }

  .header .logo span a {
    font-size: 3rem;
  }

  .header .logo h3 {
    font-size: 1rem;
    margin: 16px 0px 15px 0px;
    background-color: transparent;
  }

  .active{
    background-color: transparent;
  }
  .active2{
    background-color: transparent;
  }

  .menu-button{
    display: flex;
  }

  #navbar{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #212022;
  }
  

  .header nav ul{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .header li{
    font-family: "MADE SAONARA 2", sans-serif;
    font-size: 4.7rem;
    letter-spacing: 10px;
    font-weight: 300;
  }

  .header li a{
    color: #f8f8f8;
  }

/*titulos responsive aqui */

  .row-container {
    height: 80vh;
    margin: 0px 15px 10px 15px;
    padding-top: 100px;
  }

  .row h1 {
    font-size: 5rem;
    letter-spacing: 5px;
  }
}



/* pues el footer xd */

.footer {
  flex-shrink: 0;
  width: 100%;
}


.footer-copy {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 20px;
  text-align: center;
  justify-content: center;
  font-size: 0.9rem;
  padding-top: 20px;
  border-top: 3px solid black;
  background-color: #212022;
  color: #c8aa8c;
}

@media only screen and (max-width: 768px) {

  .footer-copy {
    height: auto;
    padding-top: 10px;
    border-top: none;
  }
}

/* el main que contiene todas las secciones y la seccion aboutme */

#main {
  overflow: hidden;
  padding: 0 24px;
}

@media only screen and (max-width: 876px){
  #main{
    padding: 0 10px;
  }
}

#aboutme {
  width: 100%;
  height: 60vh;
  min-height: 60vh;
  margin-top: 20vh;
}

.decoration-section {
  z-index: 0;
}

.section-text {
  display: inline-block;
  background-color: #6c8fa1;
  padding: 4px 8px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "MADE SAONARA 2", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.profilepic{
  display: flex;
  justify-content: flex-end;
  width: 100%;
 
}

.profilepic img {
  height: 280px;
  width: 280px;
}

.detailed-information {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  height: auto;
}

.detailed-information-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  margin-left: 40px;
  gap: 10px;
  font-family: "Times New Roman", Times, serif;
}

.detailed-information-row h2 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.detailed-information-row span {
  font-size: 1.75rem;
  color: #c8aa8c;
}

.detailed-information-row h3 {
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
}

.button-info {
  margin-top: 30px;
}

.button-info button{
  all: unset;
}

.button-info{
  display: inline-block;
  background-color: #212022;
  padding: 6px 10px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
  font-family: "MADE SAONARA 2", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s ease;
}

.button-info:hover {
  background-color: #c8aa8c;
  animation: radiusAnimation 1s ease-in-out both;
}

/* Media query para dispositivos con un ancho máximo de 768px  */
@media only screen and (max-width: 876px) {
  #aboutme {
    height: auto;
    margin-bottom: 120px;
  }

  .detailed-information {
    grid-template-columns: 100%;
  }

  .profilepic{
    margin: 14px 0;
    display: block;
  }

  .profilepic img {
    height: auto;
    width: 100%;
    max-width: 280px;
  }

  .detailed-information-row {
    margin-left: 0;
    padding-left: 0;
  }


  .detailed-information-row h3 {
    font-size: 1.4rem;
  }

  .button-info {
    margin-top: 20px;
  }

  .button-info a {
    font-size: 0.9rem;
  }
}


/* seccion soft y hard skills  */

#skills{
	margin-bottom: 40vh;
}

.decoration-section {
	width: 100%;
}

.title-skills{
	width: 100%;
	height: 120px;
}

.title-skills h1 {
	font-family: "MADE SAONARA 2", sans-serif;
	font-weight: 500;
	letter-spacing: 10px;
	font-size: 3.5rem;
	text-transform: capitalize;
	color: #000;
	display: inline-block;
	position: relative;
	z-index: 10;
	padding: 50px 0 0 50px;
  }

  .title-skills span {
	color: #c8aa8c;
  }


.container-skills {
	width: 100%;
	height: 100%;
	position: relative;
  overflow: hidden;
}

.container-skills .wrap-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 4vw; 
  padding-bottom: 2vw; 
}

.container-skills .item {
  position: relative;
  background-color: transparent;
  padding-left: 4vw;
  height: 22vw; 
  max-width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container-skills .opacity0{
  opacity: 0;
}

.container-skills .item h2 {
  font-family: "MADE SAONARA 2", sans-serif;
  letter-spacing: 5px; 
  width: 100%;
}

.container-skills .item:before {
  font-family: "MADE SAONARA 2", sans-serif;
  position: absolute;
  font-size: 6.5rem;
  opacity: 0.4;
  font-weight: bold;
  -webkit-transform: translate(-2vw, -3vw); 
  transform: translate(-2vw, -3vw); 
  line-height: 1;
  color: #89a5b3;
}

.container-skills .wrap-items{
    counter-reset: item;
    float: left;
}


.container-skills .wrap-items .item:before {
    counter-increment: item;
    content: counter(item);
}
.container-skills .wrap-items .opacity0:before {
  display: none;
}

@media screen and (max-width: 767px) {

  .title-skills{
    height: auto;
  }
  .title-skills h1{
    font-size: 3rem;
    padding-left: 20px;
  }


  .container-skills .wrap-items {
    display: block;
    float: none; 
    padding-top: 2vw; 
    padding-bottom: 1vw;
  }

  .container-skills .item {
    height: 168px; 
    margin-bottom: 1rem;
  }

  .container-skills .opacity0{
    display: none;
  }

  .container-skills .item h2 {
    font-size: 1.2rem;
    padding-left: 14vw;
  }

  .container-skills .item::before{
    font-size: 5rem;
  }

}



/* seccion works */

#works {
  width: 100%;
  height: 120vh;
  min-height: 120vh;
  font-family: "MADE SAONARA 2", sans-serif;
  margin-bottom: 50vh;
}

#works .decoration-section {
  display: inline-block;
}

#works a,
#works a:visited #works a:hover {
  text-decoration: none;
}

#works li {
  list-style: none;
  cursor: pointer;
}

#works nav {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#works nav ul {
  width: 90%;
}

#works nav ul li {
  border-bottom: 0.05rem solid #f8f8f8;
  position: relative;
  z-index: 10;
}

#works nav ul li .project {
  display: flex;
  padding: 64px 40px 32px 40px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.project h2,
.project span {
  transition: transform 0.5s ease-in-out;
}

.project:hover h2 {
  transform: translateX(-4%);
}

.project:hover span {
  transform: translateX(6%);
}

.project h2 {
  display: block;
  font-weight: 500;
  letter-spacing: 10px;
  z-index: 10;
  mix-blend-mode: difference;
  display: inline-block;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
}

.project span {
  display: block;
  font-weight: 500;
  letter-spacing: 10px;
  z-index: 10;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
}

.reveal-img {
  position: absolute;
  width: 450px;
  height: 300px;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
}

.reveal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: text-transform 0.5s ease-out;
}

/* Media query para dispositivos con un ancho máximo de 768px  */
@media only screen and (max-width: 768px) {
  #works {
    height: auto;
    margin-bottom: 100px;
  }

  #works nav ul li .project {
    padding: 40px 20px 20px 20px;
  }

  .project h2 {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

 
  .reveal-img {
    width: 200px;
    height: 300px;
  }

  .reveal-img img {
    transform: scale(0.7);
  }
}




#contact {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin-bottom: 20vh;
}

.contact-container{
  display: flex;
  width: 100%;
  padding: 0 80px;
  margin-top: 100px;
  position: relative;
}

.contact-form{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contact-title{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-title h2{
  font-size: 6rem;
  font-family: "MADE SAONARA 2", sans-serif;
  letter-spacing: 10px;
  font-weight: 500;
  color: #000;
}

.contact-title span{
  color: #c8aa8c;
}

.contact-title p{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-form form .form-row{
  display: flex;
}


.contact-form form .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.contact-form form .textarea{
  height: 88px;

}

.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  outline: none;
}



.textarea textarea{
  resize: none;
  padding-top: 20px;
}


.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:not(:placeholder-shown) ~ label,
.textarea textarea:not(:placeholder-shown) ~ label {
  transform: translateY(-22px);
  color: #6c8fa1;
  font-size: 0.9rem;
}

.input-data label{
  position: absolute;
  bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: all 0.4s ease;
}

.textarea label{
  width: 100%;
  border: 30px;
  bottom: 45px;
  background-color: transparent;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline::before,
.input-data .underline::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: #89a5b3;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.input-data input:focus ~ .underline::before, .underline::after,
.textarea textarea:focus ~ .underline::before, .underline::after,
.input-data input:not(:placeholder-shown) ~ .underline::before, .underline::after,
.textarea textarea:valid ~ .underline::before, .underline::after{
 transform: scaleX(1);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; /* Asegúrate de que la transición sea muy larga para evitar cambios bruscos */
}

.contact-btn{
  height: 45px!important;
  width: 125px!important;
}

.contact-btn input{
  background-color: unset;
  border: unset;
  color: #fff;
  font-family: "MADE SAONARA 2", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-decoration: none;
}

.contact-btn{
  display: inline-block;
  background-color: #212022;
  padding: 6px 10px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
  transition: 0.7s ease-in-out;
}

.contact-btn:hover{
  background-color: #c8aa8c;
  animation: radiusAnimation 0.7s ease-in-out both;
}

@keyframes radiusAnimation {
  0% {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  70%{
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  100% {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.socials{
  width: 40%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-row{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-row h2{
  font-size: 2rem;
  font-family: "MADE SAONARA 2", sans-serif;
  letter-spacing: 4px;
  font-weight: 600;
  color: #000;
}

.social-row ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.social-row li {
  text-transform: capitalize;
  font-weight: 300;
  margin-top: 14px;
}

.social-row a,
.social-row p{
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.social-row li:hover,
.social-row span:hover{
  cursor: pointer;
}

.social-row a:hover {
  color: #c8aa8c;
}

@media screen and (max-width: 768px){

  #contact{
    height: auto;
  }

  .contact-container{
    flex-direction: column;
    gap: 4.5rem;
    padding: 0 10px;
  }

  .contact-form{
    gap: 2rem;
  }

  .contact-title h2{
    font-size: 4rem;
  }

  .contact-form form .form-row{
    display: block;
  }

  .contact-form form .input-data{
    width: auto;
  }
  .contact-form form .input-media{
    margin-bottom: 32px;
  }

  .socials{
    width: auto;
    padding: 0;
    gap: 32px;
  }
}







/* Media query para gente pobre que su celular es demasiado pequeno como los odio */

@media only screen and (max-height: 450px) {
  #home {
    height: auto;
    min-height: 100vh;
  }

  .row h1 {
    font-size: 4.75rem;
    letter-spacing: 5px;
  }

  #aboutme {
    height: auto;
    min-height: 180vh;
  }

  #works {
    height: auto;
    min-height: 180vh;
  }
  #skills {
    height: auto;
    min-height: 180vh;
  }
}
